<div class="links_header">
  <%= link_to 'Home', '/pages/index' %> 
  | <%= link_to 'Mission', '/pages/missions' %>
  | <%= link_to 'Specifications', '/pages/additional_objectives' %>
  | <%= link_to 'Basic Functions', '/pages/basic_functions' %>
  | <%= link_to 'Make Your Own App', '/pages/make_our_own_app' %>
</div>

<%= image_tag 'forest_panorama.jpg', :id => 'forest_panorama' %> 
<h1 id="main_title">WILD PLANT ID</h1>
