<div class="links_header">
  <%= link_to 'Home', '/pages/index' %> 
  | <%= link_to 'Missions', '/pages/missions' %>
  | <%= link_to 'App', '/pages/app' %>
  | <%= link_to 'Additional Objectives', '/pages/additional_objectives' %>
  | <%= link_to 'Basic Functions', '/pages/basic_functions' %>
  | <%= link_to 'Help Us', '/pages/help_us' %>
  | <%= link_to 'Make Our Own App', '/pages/make_our_own_app' %>
</div>

<%= image_tag 'forest_panorama.jpg', :id => 'forest_panorama' %> 
<h1 id="main_title">WILD PLANT ID</h1>
